*.tmp
*~
*build/
/.nb-gradle/
*gradle.properties
/ohtu-viikko3/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/LoginCucumber/.nb-gradle/
/ohtu-viikko4/WebLogin/.nb-gradle/
/ohtu-viikko5/MockitoDemo/.nb-gradle/
/ohtu-viikko5/MatkakorttiMockito/.nb-gradle/
/ohtu-viikko5/VerkkokauppaSpring/.nb-gradle/